<div id="<%= dom_id post %>">
  <p class="responsiveText me-5">
    <strong>Title:</strong>
    <%= post.title %>
  </p>
  <p class="blogBody">
    <%= post.body %>
  </p>
  
  <p class="responsiveText">
    <strong>Date:</strong>
    <%= post.created_at.to_date %>
  </p>
</div>

